html {
	font-size: 62.5%;
}
html, body, div, h1, h2, h3, nav, ul, li, header, img, button, p,span, a {
	padding: 0;
	margin: 0;
}
img {
	border: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
}

a {
text-decoration: none;
}

.uppercase {
	text-transform: uppercase;
}
.centered {
	text-align: center;
}

.wrapper_1 {
	width: 1000px;
margin: 0 auto;
}

/* start header */
header {
	background-color: #69d1e7;
	border-top: 5px solid #f96900;
	}
	#logo {
		margin-top: 35px;
		width: 226px;
		height: 50px;
		}
		
		#logo img {
			float: left;
			}
			
			.circle {
	display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #fff;
	border: 1px solid #fff;
	/* border-color: #fff; */
    text-align: center;
    font-size: 2rem;
	
}

/* end of header */



