
html, body, div, h1, h2, h3, nav, ul, li, header, img, button, p,span, a, footer {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

img {
	border: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	}

a {
	text-decoration: none;
	color: #000;
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.centered {
	text-align: center;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.flex {
    display: -webkit-flex;
    display: flex;
    }

/* wrappers */

#container {
	width: 100%;
	position: relative;
}

.wrapper-1 {
	width: 1000px;
	margin: 0 auto;
}

.wrapper-2 {
	width: 834px;
	margin: 0 auto;
	}

/* start header */



header {
	background-color: #69d1e7;
	border-top: 5px solid #f96900;
	height: 465px;
	
}
.logo {
	padding-top: 35px;
	width: 230px;
	height: 50px;
}

.logo img {
	float: left;
	margin-right: 12px;
}


#forma-1 {
	background: url('../images/sprite.png') no-repeat -487px -1431px;
	width: 41px;
	height: 41px;
	margin-top: 32px;
}

#forma-1 a {
	display:block;
    height:41px;
    width:41px;
}

/* .circle {
	display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #fff;
	border: 1px solid #fff;
	border-color: #fff;
    text-align: center;
    font-size: 1.2rem;
	
} */

header .logo h1  {
	font-size: 2rem;
	font-weight: bold;
	}

header .wrapper-1 h2  {
	font-size: 6.2rem;
	color: #fff;
	padding-top: 184px;
}

header	.wrapper-1 h3 {
	font-size: 2.6rem;
	color: #fff;
}


/* end of header */

/* start Section About Us */
#about-us {
	background-color: #f1f1f1;
	height: 532px;
}

#about-us .wrapper-2 h2  {
	font-size: 3rem;
	padding-top: 35px;
}

.about-us-top p  {
	font-size: 2.2rem;
	margin-top: 30px;
	padding-left: 34px;
	padding-right: 34px;
	line-height: 34px;
}

.about-us {
	width: 278px;
	margin: 0 auto;
}

.about-us div {
	
	/* line-height: 162px; */
}

.flex-container p  {
	font-size: 2rem;
	margin-top: 52px;
	margin-left: -26px;
	margin-right: -26px;
	text-align: center;
}

.flex-container a {
	display: block;
	
	}

.line {
	background: url('../images/sprite.png') no-repeat -20px -2354px;
	width: 381px;
	height: 1px;
	margin: 0 auto;
	margin-top: 28px;
}

.about-us-top {
	background-color: #fff;
	height: 286px;
	border-radius: 8px;
	transform: translate(0, -98px);
}

.flex-container {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 834px;
  margin-top: -32px;
}

.shape {
	width: 162px;
	height: 162px;
	border-radius: 8px;
	}

.shape a {
	display:block;
    height:93px;
    width:93px;
}

.white {
	background-color: #fff;
}
.blue {
	background-color: #69d1e7;
}


#shape-1 {
	background: url('../images/sprite.png') no-repeat -488px -1211px;
	width: 93px;
	height: 93px;
	margin: 0 auto;
	margin-top: 35px;
}

.shape-1 {
	-webkit-align-self:  flex-start;
    align-self:  flex-start;
}

#shape-2 {
	background: url('../images/sprite.png') no-repeat -490px -1107px;
	width: 93px;
	height: 93px;
	margin: 0 auto;
	margin-top: 35px;
	}


.shape-2 {
	-webkit-align-self: center;
    align-self: center;
}

#shape-3 {
	background: url('../images/sprite.png') no-repeat -487px -1315px;
	width: 83px;
	height: 93px;
	margin: 0 auto;
	margin-top: 35px;
}

.shape-3 {
	-webkit-align-self: center;
    align-self: center;
}


/* end of  Section About Us */

/* start  Section Browser */

#browser {
	/* position:relative; */
	background-color: #f96900;
	height: 476px;
}

#browser p {
	color: #fff;
	font-size: 2.4rem;
	padding-top: 45px;
	}

	.flex-container-2 {
		display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 910px;
  /* margin-top: -32px; */
  margin-left: -26px;
 /*  z-index: 10;
	position: relative; */
}
	
#browser-2,  #browser-3 {
	background: url('../images/sprite.png') no-repeat -21px -1730px;
	width: 445px;
	height: 291px;
	margin-top: 47px;
	
	}

#browser-1 {
	background: url('../images/sprite.png') no-repeat -22px -1417px;
	width: 444px;
	height: 290px;
	/* margin: 0 auto; */
	/* margin-top: 47px; */
	/* padding-left: -26px;
	padding-right: -26px; */
	/* z-index: 20;
	position: relative; */
	transform: translate(200px, -292px);
}

 .left  {
	background: url('../images/sprite.png') no-repeat -551px -1431px;
	width: 30px;
	height: 30px;
	margin-top: 147px;
	margin-left: 16px;
	display: inline-block;
	
	}
	
.right {
	background: url('../images/sprite.png') no-repeat -550px -1484px;
	width: 30px;
	height: 30px;
	margin-left: 346px;
	display: inline-block;
	}


/* end of  Section Browser */

/* start  Section Testimonials */
#testimonials {
	background-color: #f1f1f1;
	height: 532px;
}

.person .image {
	background: url('../images/sprite.png') no-repeat -422px -2354px;
	width: 182px;
	height: 182px;
	}
	
	div .person  {
		padding-top: 50px;
	}
	
	div .image  {
		margin: auto;
	}
	
	div .person  h2 {
		font-size: 2rem;
	}
	
	div .person  p {
		font-size: 1.8rem;
	}
	
.image div {
	height: 92px;
	margin: auto;
	}
	
	#testimonials .wrapper-2 p:nth-child(2)  {
	font-size: 1.4rem;
	margin-top: 40px;
	/* padding-left: 34px;
	padding-right: 34px;
	line-height: 34px; */
}

/* end of  Section Testimonials */

/* start  Section Bullet Points */
#bullet-points {
	/* position:relative; */
	background-color: #f96900;
	height: 532px;
}

/* end of  Section Bullet Points */

/* start  Section Footer */
#footer {
	/* position:relative; */
	background-color: #f1f1f1;
	height: 552px;
}

footer {
	/* position:relative; */
	background-color: #69d1e7;
	height: 70px;
	line-height: 70px;
}

/* end of  Section Footer */

@media only screen and (max-width: 768px) {
	
	footer {
	/* position:relative; */
	background-color: #000;
	color: #fff;
}
	
	
	}